<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-input [(ngModel)]="password" type="password" placeholder="Nueva contraseña">
  </ion-input>

  <ion-input [(ngModel)]="passwordConfirmation" type="password" placeholder="Confirmar contraseña">
  </ion-input>

  <ion-button (click)="changePassword()" expand="block" fill="solid" shape="round">
    Cambiar
  </ion-button>

</ion-content>